/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/

/******************************************/
/* Element Selectors */
/******************************************/
h1 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 0.8rem;
  font-family: sans-serif;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 1rem;
}

h3 {
  font-size: 12px;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #eae3e3;
  border-radius: 8px;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 1rem;
  left: 46%;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}
/******************************************/
/* Class Selectors */
/******************************************/
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  background-color: rgb(165, 83, 165);
  border-radius: 5px;
  color: white;
}
/******************************************/
/* ID Selectors */
/******************************************/
#question {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  margin-right: 25%;
  margin-left: 25%;
}

#choices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 45%;
  margin-top: 2rem;
}

#choices button {
  background-color: rgb(108, 6, 108);
  border-radius: 5px;
  color: white;
  padding: 0.2rem;
  margin: 0.1rem;
}

#choice-status {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin-top: 1rem;
  text-align: center;
}

#score {
  font-size: 18px;
  font-family: ui-monospace;
  font-weight: bold;
  text-align: center;
}

#user-details {
  display: block;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
}

#submit-button {
  position: fixed;
  top: 15%;
  left: 56%;
  transform: translate(-50%, -50%);
}
/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
