/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/

/******************************************/
/* Element Selectors */
/******************************************/
h1 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 0.8rem;
  font-family: sans-serif;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 1rem;
}

h3 {
  font-size: 0.6rem;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}
/******************************************/
/* Class Selectors */
/******************************************/
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  background-color: rgb(165, 83, 165);
  border-radius: 5px;
  color: white;
}
/******************************************/
/* ID Selectors */
/******************************************/
#question {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  margin-right: 25%;
  margin-left: 25%;
}

#choices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 45%;
  margin-top: 2rem;
}

#choices button {
  background-color: rgb(108, 6, 108);
  border-radius: 5px;
  color: white;
  padding: 0.2rem;
  margin: 0.1rem;
}
/******************************************/
/* Media queries */
/******************************************/

/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
